 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Computer Engineering</h4>
    <h5 class="meta">University of Tennessee</h5>
    <div class="time">2015 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Electrical Engineering</h4>
    <h5 class="meta">Bristol University</h5>
    <div class="time">2007 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->
