<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Science Researcher</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Oak Ridge National Laboratory, Oak Ridge</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Support the development of machine learning algorithms for text and genomic datasets using TITAN and CADES resources. Provide production level machine learning algorithms and measure performance for running these algorithms</p>  
                        <p>Mastery of using language processing subtasks (Part of Speech tagging, Named Entity Recognition,
sentence/lexiconal frame parsing) in service of higher-level machine learning objectives. Lead planning and implementation of NLP data pipeline while mentoring undergraduate interns. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Research Assistant</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Tennessee, Knoxville</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Lead undergraduate team to attend national wide college competition (EchoCar 3). Designed Advanced Driver Assist System (ADAS) by implementing various machine learning techniques for real time vehicle and pedestrian detections. Managed project development progress by hosting weekly team meeting, making detailed project development time lines and identifying potential risks. Gave technical presentations about the ADAS system details and commercial potentials. Developed abilities to explain technical methodology and details to non-technical audiences.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->
