<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Machine Learning and Deep Learning.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook" target="https://github.com/tianxiangchen2015/CNN-for-Pathology-Report-Classification">CNN for Document Classification</a></span> - <span class="project-tagline">Covolutional Neural Networks(CNN) for Pathology reports classification problem. CNNs are always considered as good at processing image data. But this project shows that CNNs can also achieve good performance in Nature Language Processing (NLP).</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/tianxiangchen2015/Mammography" target="_blank">Mammography Classification</a></span> - 
                    <span class="project-tagline">This project presents how to design a classifier for distinguishing malignant, benign, and normal tumor using Deep Learning Neural Network (CNN). Developed on AWS EC2 GPU instance</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/tianxiangchen2015/Autoencoder_Kmean" target="_blank">AutoEncoder + K-means</a></span> - <span class="project-tagline">improved K-mean clustering performance by extracting features and reducing data dimensionality using AutoEncoder.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/tianxiangchen2015/Apache-spark-bayes-model-reuters" target="_blank">Apache Spark--Train bayes model with reuters</a></span> - <span class="project-tagline">Design NLP pipeline for information retrieval. Tain a Naïve Bayes model for “Reuters-21578” classification use Apache Spark. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/tianxiangchen2015/Apache-spark-kmean-kddcup.data" target="_blank">Apache Spark-Kddcup cyber-attacts problem</a></span> - <span class="project-tagline">This project implements an unsupervised data mining approach, “k-means” algorithm, as a means to detect cyber-attacks</span>
                </div><!--//item-->
		<div class="item">
                    <span class="project-title"><a href="https://github.com/tianxiangchen2015/Reinforcement-learning-train-agent-play-pacman" target="_blank">Reinforcement learning: Agent Play Pacman</a></span> - <span class="project-tagline">This project implemented reinforcement learning algorithm using neural network on a famous arcade game Ms.PacMan. The game Ms. PacMan has a large dynamic environment. Combined neural network and SASAR(λ) to train the agent.</span>
                </div><!--//item-->
            </section><!--//section-->
